#!/bin/bash
# vi: ft=bash
set -euo pipefail
cinstall=~/.local/share/chezmoi/dot_local/bin/executable_cinstall

{{ if eq .chezmoi.os "darwin" }}
mkdir -p ~/Applications
{{ end }}

# Ghostty (macOS only)
{{ if eq .chezmoi.os "darwin" }}
$cinstall \
    --url "https://release.files.ghostty.org/1.0.1/Ghostty.dmg" \
    --cmd 'rm -rf ~/Applications/Ghostty.app/' \
          'rsync -a Ghostty.app ~/Applications/'
{{ end }}

# Ice app (macOS only)
{{ if eq .chezmoi.os "darwin" }}
$cinstall \
    --url "{{ gitHubLatestReleaseAssetURL "jordanbaird/Ice" "Ice.zip" }}" \
    --cmd 'rm -rf ~/Applications/Ice.app/' \
          'rsync -a Ice.app ~/Applications/'
{{ end }}

# Neovim
{{ $nvim_url := dict
  "darwin" "https://github.com/neovim/neovim/releases/download/v0.10.3/nvim-macos-arm64.tar.gz"
  "linux" "https://github.com/neovim/neovim/releases/download/v0.10.3/nvim-linux64.tar.gz"
}}
$cinstall \
    --url "{{ get $nvim_url .chezmoi.os }}" \
    --cmd 'rm -rf ~/.local/bin/nvim' \
          'mv nvim-*/ ~/.local/bin/nvim'

# Rectangle (macOS only)
{{ if eq .chezmoi.os "darwin" }}
$cinstall \
    --url "{{ gitHubLatestReleaseAssetURL "rxhanson/Rectangle" "Rectangle*.dmg" }}" \
    --cmd 'rm -rf ~/Applications/Rectangle.app/' \
          'rsync -a Rectangle.app ~/Applications/'
{{ end }}

# Stats (macOS only)
{{ if eq .chezmoi.os "darwin" }}
$cinstall \
    --url "{{ gitHubLatestReleaseAssetURL "exelban/stats" "Stats.dmg" }}" \
    --cmd 'rm -rf ~/Applications/Stats.app/' \
          'rsync -a Stats.app ~/Applications/'
{{ end }}

# WezTerm
{{ if eq .chezmoi.os "darwin" }}
$cinstall \
    --url "https://github.com/wezterm/wezterm/releases/download/nightly/WezTerm-macos-nightly.zip" \
    --cmd 'rm -rf ~/Applications/WezTerm.app/' \
          'cd WezTerm*' \
          'rsync -a WezTerm.app ~/Applications/'
{{ else }}
$cinstall \
    --url "{{ if eq .chezmoi.os "windows" }}https://github.com/wezterm/wezterm/releases/download/nightly/WezTerm-windows-nightly.zip{{ else }}https://github.com/wezterm/wezterm/releases/download/nightly/wezterm-nightly.Ubuntu22.04.tar.xz{{ end }}" \
    --cmd 'rm -rf ~/.local/bin/wezterm' \
          'mv wezterm ~/.local/bin/wezterm'
{{ end }}

# xbar (macOS only)
{{ if eq .chezmoi.os "darwin" }}
$cinstall \
    --url "{{ gitHubLatestReleaseAssetURL "matryer/xbar" "xbar*.zip" }}" \
    --cmd 'rm -rf ~/Applications/xbar.app/' \
          'rsync -a xbar.app ~/Applications/'
{{ end }}
