#!/bin/bash
# vi: ft=bash
set -euo pipefail
cinstall=~/.local/share/chezmoi/dot_local/bin/executable_cinstall

{{ $nvim_url := dict
  "darwin-arm64" ( gitHubLatestReleaseAssetURL "neovim/neovim" "nvim-macos-arm64.tar.gz" )
  "linux-arm64" ( gitHubLatestReleaseAssetURL "neovim/neovim" "nvim-linux-arm64.tar.gz" )
  "linux-amd64" ( gitHubLatestReleaseAssetURL "neovim/neovim" "nvim-linux-x86_64.tar.gz" )
}}
$cinstall \
    --url "{{ get $nvim_url ( printf "%s-%s" .chezmoi.os .chezmoi.arch ) }}" \
    --cmd 'rm -rf ~/.local/bin/nvim' \
          'mv nvim-*/ ~/.local/bin/nvim'
