#!/bin/bash
# vi: ft=bash
set -euo pipefail
cinstall=~/.local/share/chezmoi/dot_local/bin/executable_cinstall

{{ $pi_url := dict
  "darwin-arm64" ( gitHubLatestReleaseAssetURL "badlogic/pi-mono" "*pi-darwin-arm64*" )
  "darwin-amd64" ( gitHubLatestReleaseAssetURL "badlogic/pi-mono" "*pi-darwin-x64*" )
  "linux-amd64"  ( gitHubLatestReleaseAssetURL "badlogic/pi-mono" "*pi-linux-x64*" )
  "linux-arm64"  ( gitHubLatestReleaseAssetURL "badlogic/pi-mono" "*pi-linux-arm64*" )
}}
$cinstall \
    --url "{{ get $pi_url ( printf "%s-%s" .chezmoi.os .chezmoi.arch ) }}" \
    --cmd 'mv pi ~/.local/bin/'
