#!/bin/bash
# vi: ft=bash
set -euo pipefail
cinstall=~/.local/share/chezmoi/dot_local/bin/executable_cinstall

$cinstall \
    --url "https://dl.google.com/go/$(curl https://go.dev/VERSION?m=text | head -n1).{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz" \
    --cmd 'rm -rf ~/.local/bin/go' \
          'mv go ~/.local/bin/go'
