#!/bin/bash
# vi: ft=bash

{{ if lookPath "cc" }}

~/.cargo/bin/cargo install --locked \
    fd-find \
    zoxide \
    navi \
    ripgrep \
    eza \
    git-delta \
    bat \
    zellij \
    bottom \
    bandwhich \
    spacer \
    pipr

{{ end }}
