#!/bin/bash
# vi: ft=bash
set -euo pipefail
cinstall=~/.local/share/chezmoi/dot_local/bin/executable_cinstall

mkdir -p ~/.zsh/custom/plugins/
mkdir -p ~/.zsh/custom/themes/

# Oh My Zsh
$cinstall \
    --url "https://github.com/ohmyzsh/ohmyzsh/archive/62afbdebb96bf91c044a92b75d86f85a67da67a7.zip" \
    --cmd 'rm -rf ~/.oh-my-zsh' \
          'mv ohmyzsh-* ~/.oh-my-zsh'

# Zsh plugins
$cinstall \
    --url "https://github.com/zsh-users/zsh-syntax-highlighting/archive/5eb677bb0fa9a3e60f0eff031dc13926e093df92.tar.gz" \
    --cmd 'rm -rf ~/.zsh/custom/plugins/zsh-syntax-highlighting' \
          'mv zsh-syntax-highlighting-* ~/.zsh/custom/plugins/zsh-syntax-highlighting'

$cinstall \
    --url "https://github.com/sineto/vi-mode/archive/2f84dd922cdcceff62ef40ea1a5495c30dcbb280.tar.gz" \
    --cmd 'rm -rf ~/.zsh/custom/plugins/vi-mode' \
          'mv vi-mode-* ~/.zsh/custom/plugins/vi-mode'

$cinstall \
    --url "{{ ( gitHubLatestTag "MichaelAquilina/zsh-you-should-use" ).TarballURL }}" \
    --cmd 'rm -rf ~/.zsh/custom/plugins/zsh-you-should-use' \
          'mv MichaelAquilina-zsh-you-should-use-* ~/.zsh/custom/plugins/zsh-you-should-use'

$cinstall \
    --url "{{ ( gitHubLatestTag "romkatv/powerlevel10k" ).TarballURL }}" \
    --cmd 'rm -rf ~/.zsh/custom/themes/powerlevel10k' \
          'mv romkatv-powerlevel10k-* ~/.zsh/custom/themes/powerlevel10k'

