#!/bin/bash
# vi: ft=bash
set -euo pipefail
cinstall=~/.local/share/chezmoi/dot_local/bin/executable_cinstall

# Vim plugins
$cinstall \
    --url "https://github.com/junegunn/fzf/archive/refs/tags/v0.62.0.tar.gz" \
    --cmd 'rm -rf ~/.vim/pack/junegunn/start/fzf' \
          'mkdir -p ~/.vim/pack/junegunn/start/' \
          'mv fzf-* ~/.vim/pack/junegunn/start/fzf'

$cinstall \
    --url "https://github.com/junegunn/fzf.vim/archive/3cb44a8ba588e1ada409af495bdc6a4d2d37d5da.tar.gz" \
    --cmd 'rm -rf ~/.vim/pack/junegunn/start/fzf.vim' \
          'mv fzf.vim-* ~/.vim/pack/junegunn/start/fzf.vim'

$cinstall \
    --url "https://github.com/liuchengxu/vim-which-key/archive/4843811d6f2104fe2140d4cddbb49352976647df.tar.gz" \
    --cmd 'rm -rf ~/.vim/pack/liuchengxu/start/vim-which-key' \
          'mkdir -p ~/.vim/pack/liuchengxu/start/' \
          'mv vim-which-key-* ~/.vim/pack/liuchengxu/start/vim-which-key'

$cinstall \
    --url "https://github.com/kergoth/vim-bitbake/archive/0a229746e4a8e9c5b3b4666e9452dec2cbe69c9b.tar.gz" \
    --cmd 'rm -rf ~/.vim/pack/kergoth/start/vim-bitbake' \
          'mkdir -p ~/.vim/pack/kergoth/start/' \
          'mv vim-bitbake-* ~/.vim/pack/kergoth/start/vim-bitbake'

$cinstall \
    --url "https://github.com/altercation/vim-colors-solarized/archive/528a59f26d12278698bb946f8fb82a63711eec21.tar.gz" \
    --cmd 'rm -rf ~/.vim/pack/altercation/start/vim-colors-solarized' \
          'mkdir -p ~/.vim/pack/altercation/start/' \
          'mv vim-colors-solarized-* ~/.vim/pack/altercation/start/vim-colors-solarized'

$cinstall \
    --url "https://github.com/heavenshell/vim-pydocstring/archive/9da38e1bb70f5fc9f35ba5abf8ddada81fe2717a.tar.gz" \
    --cmd 'rm -rf ~/.vim/pack/heavenshell/start/vim-pydocstring' \
          'mkdir -p ~/.vim/pack/heavenshell/start/' \
          'mv vim-pydocstring-* ~/.vim/pack/heavenshell/start/vim-pydocstring'

$cinstall \
    --url "https://github.com/vim-scripts/DoxygenToolkit.vim/archive/afd8663d36d2ec19d26befdb10e89e912d26bbd3.tar.gz" \
    --cmd 'rm -rf ~/.vim/pack/vim-scripts/start/DoxygenToolkit.vim' \
          'mkdir -p ~/.vim/pack/vim-scripts/start/.vim' \
          'mv DoxygenToolkit.vim-* ~/.vim/pack/vim-scripts/start/DoxygenToolkit.vim'

$cinstall \
    --url "https://github.com/ervandew/supertab/archive/8705ae0e43b34339c06328fa6dab24ecaf21aab6.tar.gz" \
    --cmd 'rm -rf ~/.vim/pack/ervandew/start/supertab' \
          'mkdir -p ~/.vim/pack/ervandew/start/' \
          'mv supertab-* ~/.vim/pack/ervandew/start/supertab'

$cinstall \
    --url "https://github.com/mbbill/undotree/archive/b951b87b46c34356d44aa71886aecf9dd7f5788a.tar.gz" \
    --cmd 'rm -rf ~/.vim/pack/mbbill/start/undotree' \
          'mkdir -p ~/.vim/pack/mbbill/start/' \
          'mv undotree-* ~/.vim/pack/mbbill/start/undotree'

$cinstall \
    --url "https://github.com/vim-airline/vim-airline/archive/7fc376a4d5d9728ead8dae5d93117717e110ff8a.tar.gz" \
    --cmd 'rm -rf ~/.vim/pack/vim-airline/start/vim-airline' \
          'mkdir -p ~/.vim/pack/vim-airline/start/' \
          'mv vim-airline-* ~/.vim/pack/vim-airline/start/vim-airline'

$cinstall \
    --url "https://github.com/vim-airline/vim-airline-themes/archive/cda3b5ea087f7e301a3d4e61727108f66ba6dd20.tar.gz" \
    --cmd 'rm -rf ~/.vim/pack/vim-airline/start/vim-airline-themes' \
          'mkdir -p ~/.vim/pack/vim-airline/start/' \
          'mv vim-airline-themes-* ~/.vim/pack/vim-airline/start/vim-airline-themes'

$cinstall \
    --url "https://github.com/tpope/vim-commentary/archive/64a654ef4a20db1727938338310209b6a63f60c9.tar.gz" \
    --cmd 'rm -rf ~/.vim/pack/tpope/start/vim-commentary' \
          'mkdir -p ~/.vim/pack/tpope/start/' \
          'mv vim-commentary-* ~/.vim/pack/tpope/start/vim-commentary'

$cinstall \
    --url "https://github.com/airblade/vim-gitgutter/archive/a5ae0a5a18e266f8a62b3e256208afcbb20fe5b5.tar.gz" \
    --cmd 'rm -rf ~/.vim/pack/airblade/start/vim-gitgutter' \
          'mkdir -p ~/.vim/pack/airblade/start/' \
          'mv vim-gitgutter-* ~/.vim/pack/airblade/start/vim-gitgutter'

$cinstall \
    --url "https://github.com/pangloss/vim-javascript/archive/b26c9edb3563e02f5c0b20580f7cf9743e95b157.tar.gz" \
    --cmd 'rm -rf ~/.vim/pack/pangloss/start/vim-javascript' \
          'mkdir -p ~/.vim/pack/pangloss/start/' \
          'mv vim-javascript-* ~/.vim/pack/pangloss/start/vim-javascript'

$cinstall \
    --url "https://github.com/peitalin/vim-jsx-typescript/archive/22df470d92651426f2377e3166488672f7b4b4ef.tar.gz" \
    --cmd 'rm -rf ~/.vim/pack/peitalin/start/vim-jsx-typescript' \
          'mkdir -p ~/.vim/pack/peitalin/start/' \
          'mv vim-jsx-typescript-* ~/.vim/pack/peitalin/start/vim-jsx-typescript'

$cinstall \
    --url "https://github.com/preservim/vim-markdown/archive/8f6cb3a6ca4e3b6bcda0730145a0b700f3481b51.tar.gz" \
    --cmd 'rm -rf ~/.vim/pack/preservim/start/vim-markdown' \
          'mkdir -p ~/.vim/pack/preservim/start/' \
          'mv vim-markdown-* ~/.vim/pack/preservim/start/vim-markdown'

$cinstall \
    --url "https://github.com/christoomey/vim-tmux-navigator/archive/33afa80db65113561dc53fa732b7f5e53d5ecfd0.tar.gz" \
    --cmd 'rm -rf ~/.vim/pack/christoomey/start/vim-tmux-navigator' \
          'mkdir -p ~/.vim/pack/christoomey/start/' \
          'mv vim-tmux-navigator-* ~/.vim/pack/christoomey/start/vim-tmux-navigator'

$cinstall \
    --url "https://github.com/tpope/vim-fugitive/archive/4a745ea72fa93bb15dd077109afbb3d1809383f2.zip" \
    --cmd 'rm -rf ~/.vim/pack/tpope/start/vim-fugitive' \
          'mkdir -p ~/.vim/pack/tpope/start/' \
          'mv vim-fugitive-* ~/.vim/pack/tpope/start/vim-fugitive'

# Neovim plugins
$cinstall \
    --url "https://github.com/neovim/nvim-lspconfig/archive/9c923997123ff9071198ea3b594d4c1931fab169.zip" \
    --cmd 'rm -rf ~/.config/nvim/pack/neovim/start/nvim-lspconfig' \
          'mkdir -p ~/.config/nvim/pack/neovim/start/' \
          'mv nvim-lspconfig-* ~/.config/nvim/pack/neovim/start/nvim-lspconfig'

# Remove coq
rm -rf ~/.config/nvim/pack/ms-jpq/start/coq.artifacts || true
rm -rf ~/.config/nvim/pack/ms-jpq/start/coq_nvim || true

$cinstall \
    --url "https://github.com/saghen/blink.cmp/archive/refs/tags/{{ (gitHubLatestTag "saghen/blink.cmp").Name }}.tar.gz" \
    --cmd 'rm -rf ~/.config/nvim/pack/saghen/start/blink' \
          'mkdir -p ~/.config/nvim/pack/saghen/start/' \
          'mv blink* ~/.config/nvim/pack/saghen/start/blink'

{{ $blink_lib_url := dict
  "windows-amd64" ( gitHubLatestReleaseAssetURL "saghen/blink.cmp" "x86_64-pc-windows-msvc.dll" )
  "darwin-arm64" ( gitHubLatestReleaseAssetURL "saghen/blink.cmp" "aarch64-apple-darwin.dylib" )
  "linux-arm64" ( gitHubLatestReleaseAssetURL "saghen/blink.cmp" "aarch64-unknown-linux-gnu.so" )
  "linux-amd64" ( gitHubLatestReleaseAssetURL "saghen/blink.cmp" "x86_64-unknown-linux-gnu.so" )
}}

$cinstall \
    --url "{{ get $blink_lib_url ( printf "%s-%s" .chezmoi.os .chezmoi.arch ) }}" \
    --cmd 'mkdir -p ~/.config/nvim/pack/saghen/start/blink/target/release/' \
          'mv x86_64-pc-windows-msvc.dll ~/.config/nvim/pack/saghen/start/blink/target/release/libblink_cmp_fuzzy.dll || true' \
          'mv aarch64-apple-darwin.dylib ~/.config/nvim/pack/saghen/start/blink/target/release/libblink_cmp_fuzzy.dylib || true' \
          'mv aarch64-unknown-linux-gnu.so ~/.config/nvim/pack/saghen/start/blink/target/release/libblink_cmp_fuzzy.so || true' \
          'mv x86_64-unknown-linux-gnu.so ~/.config/nvim/pack/saghen/start/blink/target/release/libblink_cmp_fuzzy.so || true'
