#!/bin/bash
# vi: ft=bash
set -euo pipefail
cinstall=~/.local/share/chezmoi/dot_local/bin/executable_cinstall

{{ $zmx_url := dict
  "darwin-arm64" "https://zmx.sh/a/zmx-0.5.0-macos-aarch64.tar.gz"
  "darwin-amd64" "https://zmx.sh/a/zmx-0.5.0-macos-x86_64.tar.gz"
  "linux-amd64"  "https://zmx.sh/a/zmx-0.5.0-linux-x86_64.tar.gz"
  "linux-arm64"  "https://zmx.sh/a/zmx-0.5.0-linux-aarch64.tar.gz"
}}
$cinstall \
    --url "{{ get $zmx_url ( printf "%s-%s" .chezmoi.os .chezmoi.arch ) }}" \
    --cmd 'mv zmx ~/.local/bin/'
