#!/bin/bash
# vi: ft=bash

{{ if lookPath "cc" }}

# `find` replacement
~/.cargo/bin/cargo install --locked fd-find

# Smart `cd`
~/.cargo/bin/cargo install --locked zoxide

# interactive cheatsheet tool for the command-line
~/.cargo/bin/cargo install --locked navi

# `Rg` grepper
~/.cargo/bin/cargo install --locked ripgrep

# Modern `ls`
~/.cargo/bin/cargo install --locked eza

# Modern git diff tool
~/.cargo/bin/cargo install --locked git-delta

# Modern `cat
~/.cargo/bin/cargo install --locked bat

# Tmux replacement
~/.cargo/bin/cargo install --locked zellij

# Audo-add spaces when log output pauses
~/.cargo/bin/cargo install --locked spacer

# Write pipe's (|) interactively
~/.cargo/bin/cargo install --locked pipr

# TLDR client
~/.cargo/bin/cargo install --locked tlrc

# For pi-hashline-readmap
~/.cargo/bin/cargo install --locked ast-grep
~/.cargo/bin/cargo install --locked difftastic

# MTR / Traceroute tool
~/.cargo/bin/cargo install --locked trippy

{{ end }}
