#!/bin/bash
# vi: ft=bash

# Lazy tools
~/.local/bin/go/bin/go install github.com/jesseduffield/lazygit@latest
~/.local/bin/go/bin/go install github.com/jesseduffield/lazydocker@latest

# Look at container layers and investigate their sizes
~/.local/bin/go/bin/go install github.com/wagoodman/dive@latest

# GitLab CLI
~/.local/bin/go/bin/go install gitlab.com/gitlab-org/cli/cmd/glab@main

# json incremental digger
~/.local/bin/go/bin/go install github.com/simeji/jid/cmd/jid@latest

# yq, like `jq` but for yaml
~/.local/bin/go/bin/go install github.com/mikefarah/yq/v4@latest

# taskfile.yaml runner
~/.local/bin/go/bin/go install github.com/go-task/task/v3/cmd/task@latest
