#!/bin/bash
# vi: ft=bash
set -euo pipefail
cinstall=~/.local/share/chezmoi/dot_local/bin/executable_cinstall

{{ $r := gitHubRelease "wezterm/wezterm" "nightly" }}
{{ $urls := dict }}
{{ range $r.Assets }}
{{ if and (contains "macos-nightly.zip" .Name) (not (contains ".sha256" .Name)) }}{{ $urls = merge $urls (dict "macos" .BrowserDownloadURL) }}# macos: {{ .Name }}: {{ .UpdatedAt }}{{ end }}
{{ if and (contains "windows-nightly.zip" .Name) (not (contains ".sha256" .Name)) }}{{ $urls = merge $urls (dict "windows" .BrowserDownloadURL) }}# windows: {{ .Name }}: {{ .UpdatedAt }}{{ end }}
{{ if and (contains "wezterm-nightly.Ubuntu22.04.tar.xz" .Name) (not (contains ".sha256" .Name)) }}{{ $urls = merge $urls (dict "linux" .BrowserDownloadURL) }}# linux: {{ .Name }}: {{ .UpdatedAt }}{{ end }}
{{ end }}
{{/*
  The dates above are consumed by chezmoi's run_onchange logic.
  When a new nightly is published the dates change, the script content changes,
  and chezmoi re-executes this script to update wezterm.
*/}}

{{ if eq .chezmoi.os "darwin" }}
mkdir -p ~/Applications
$cinstall \
    --url "{{ index $urls "macos" }}" \
    --cmd 'rm -rf ~/Applications/WezTerm.app/' \
          'cd WezTerm*' \
          'rsync -a WezTerm.app ~/Applications/'
{{ else if eq .chezmoi.os "windows" }}
$cinstall \
    --url "{{ index $urls "windows" }}" \
    --cmd 'rm -rf ~/.local/bin/wezterm' \
          'mv wezterm ~/.local/bin/wezterm'
{{ else }}
$cinstall \
    --url "{{ index $urls "linux" }}" \
    --cmd 'rm -rf ~/.local/bin/wezterm' \
          'cp wezterm/usr/bin/* ~/.local/bin/'
{{ end }}
