#!/bin/bash
# vi: ft=bash
set -euo pipefail
cinstall=~/.local/share/chezmoi/dot_local/bin/executable_cinstall

{{ $uv_url := dict
  "linux-amd64" ( gitHubLatestReleaseAssetURL "astral-sh/uv" "uv-x86_64-unknown-linux-musl.tar.gz" )
  "linux-arm64" ( gitHubLatestReleaseAssetURL "astral-sh/uv" "uv-aarch64-unknown-linux-musl.tar.gz" )
  "windows-amd64" ( gitHubLatestReleaseAssetURL "astral-sh/uv" "uv-x86_64-pc-windows-msvc.zip" )
  "darwin-arm64" ( gitHubLatestReleaseAssetURL "astral-sh/uv" "uv-aarch64-apple-darwin.tar.gz" )
}}
$cinstall \
    --url "{{ get $uv_url ( printf "%s-%s" .chezmoi.os .chezmoi.arch ) }}" \
    --cmd 'mv */uvx ~/.local/bin/uvx' \
          'mv */uv ~/.local/bin/uv' \

