#!/bin/bash
# vi: ft=bash

~/.local/bin/go/bin/go install github.com/jesseduffield/lazygit@latest
~/.local/bin/go/bin/go install github.com/jesseduffield/lazydocker@latest
~/.local/bin/go/bin/go install github.com/wagoodman/dive@latest
~/.local/bin/go/bin/go install gitlab.com/gitlab-org/cli/cmd/glab@main
~/.local/bin/go/bin/go install github.com/simeji/jid/cmd/jid@latest
~/.local/bin/go/bin/go install github.com/mikefarah/yq/v4@latest
