# vi: ft=bash
set -o vi

source /etc/bash.bashrc

# ------------------------ Aliases --------------------------------

{{ template "aliases.sh" . }}

# ------------------------ Env --------------------------------

{{ template "env.sh" . }}

{{ if eq .chezmoi.os "windows" -}}
export PATH=$PATH:/c/Program\ Files/Oracle/VirtualBox
{{ end -}}

# ------------------------ Funcs -------------------------------

{{ template "functions.sh" . }}

# ------------------------ Other --------------------------------
# If zoxide exists load it
if command -v zoxide &> /dev/null; then
    eval "$(zoxide init bash)"
fi

# Set up fzf key bindings and fuzzy completion
if command -v fzf &> /dev/null; then
    source <(fzf --bash)
fi
