# vi: ft=gitconfig
[user]
	email = williamtfligor@gmail.com
	name = William Fligor
[delta]
    light = true

{{- if eq .chezmoi.os "darwin" }}
[credential]
    helper = osxkeychain
{{- else if eq .chezmoi.os "linux" }}
[credential]
    helper = store
{{- end }}
